@import "src/common/scss/variables";
@import "src/common/scss/mixins";

.Notification-wrapper {
  background-color: $transparent-color;
  border-radius: 15px;
  color: $main-color;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  &.Notification-error {
      .Notification-header,.Notification-content {
        color: orangered;
    }
  }

  .Notification-content {
    max-height: 80vh;
    padding: 25px;
    border-top: 1px solid $main-color;
    border-bottom: 1px solid $main-color;
    overflow-y: auto;

    @include addDefaultSrollbar();
  }

  .Notification-header, .Notification-footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    padding: 10px 25px;

    > * {
      flex: 0 0 auto;
    }
  }
}


