@import "src/common/scss/variables";

.Card-wrapper {
  display: inline-block;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: calc( 100% * 0.75 );
  cursor: pointer;

  @media screen and (min-width: 769px){
    padding-top: calc( 50% * 1.25 );
  }

  @media screen and (min-width: 993px){
    padding-top: calc( 33.333% * 1.25 );
  }

  @media screen and (min-width: 1201px){
    padding-top: calc( 25% * 1.25 );
  }

  .Card-front,.Card-back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 0.5s;

    .img-wrapper {
      border-radius: 10px;
      width: 100%;
      height: 100%;
      background: $main-color center/50% auto no-repeat;
    }
  }

  &.flipped {
    .Card-front {
      opacity: 0;
    }
    .Card-back {
      opacity: 1;
    }
  }

  .Card-back {
    opacity: 0;
    transition: opacity 1s;
  }
}