@import "variables";
@import "mixins";

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;

  .row {
    width: 100%;
  }

  @media screen and (max-width: 1201px){
    width: 100%;
  }

  > .col {
    flex: 0 0 auto;
    margin-left: $x-margin;
    margin-right: $x-margin;

    @include makeColBreakPoints();
  }
}