@import "variables";

@mixin makeCol($breakpoint) {
  &.col#{$breakpoint}-2 {
    $col-width: 16.665%;
    width: calc( #{$col-width} - #{$x-margin * 2} ) ;
  }
  &.col#{$breakpoint}-3 {
    $col-width: 25%;
    width: calc( #{$col-width} - #{$x-margin * 2} ) ;
  }
  &.col#{$breakpoint}-4 {
    $col-width: 33.333%;
    width: calc( #{$col-width} - #{$x-margin * 2} ) ;
  }
  &.col#{$breakpoint}-6 {
    $col-width: 50%;
    width: calc( #{$col-width} - #{$x-margin * 2} ) ;
  }
  &.col#{$breakpoint}-12 {
    $col-width: 100%;
    width: calc( #{$col-width} - #{$x-margin * 2} ) ;
  }
}

@mixin makeColBreakPoints() {
  @include makeCol('');

  @each $breakpoint-name, $breakpoint in $breakpoints {
    $breakpoint-up: 1 + $breakpoint;

    @media screen and (min-width: #{$breakpoint-up}px){
      @include makeCol('-#{$breakpoint-name}');
    }
  }
}

@mixin addDefaultSrollbar() {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    margin: 10px 0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar-color;
    border-radius: 10px;
  }
}