$breakpoints: (
  'xs' : 420,
  'sm' : 576,
  'md' : 768,
  'lg' : 992,
  'xl' : 1200
);
$breakpointsLength: length($breakpoints);
$col-width: 100%;
$x-margin: 15px;


$main-color: #282c34;
$transparent-color: rgba(255,255,255,0.6);
$scrollbar-color: rgba(0,0,0,0.4);