@import "grid";

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $main-color;

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  }
}

.link-wrapper {
  display: inline-flex;
}

.btn {
  padding: 10px 20px;
  background-color: $transparent-color;
  border: 1px solid $main-color;
  color: $main-color;
  text-decoration: none;
}

.animated {
  .on-click {
    transform: scale(1);

    &:active {
      transform: scale(0.97);
      transition: transform .2s;
    }
  }
}